/* Photographer info header */

.photograph-header {
    background-color: #fafafa;
    /* height: 300px; */
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 55px 50px;
    gap: 50px;
}

.photograph-header button {
    order: 2;
}

.photograph-header h2 {
    color: var(--secondary-color);
    font-size: 64px;
    margin: 0;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border: var(--white);
    border-radius: 50%;
    object-fit: cover;
    order: 3;
}

.photograph-header .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 1;
}

.photograph-header .location {
    color: var(--main-color);
    font-size: 24px;
    text-align: left;
}

.photograph-header .tagline {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.contact_button:active {
    background-color: var(--hover-color);
}

/* Contact form */

#contact_modal {
    /* display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); */
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 2.4rem; */
    overflow-y: scroll;
    background-color: rgba(196, 196, 196, 0.4);
    backdrop-filter: blur(2px);
}

/*modal*/

/* .modal {
    border-radius: 5px;
    background-color: var(--hover-color);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 5vw;
    animation-name: modalLaunch;
    animation-duration: 0.8s;
} */

.modal {
    margin: 5% auto;
    width: 50%;
    background-color: var(--hover-color);
    border-radius: 5px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    border: none;
    animation-name: modalLaunch;
    animation-duration: 0.8s;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .modal header img {
    cursor: pointer;
    width: 42px;
    height: 42px;
} */

/* .modal-title {
    position: relative;
} */

.closeModal {
    /* position: absolute;
    right: -24px;
    top: 7px;
    width: 72px;
    height: 72px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7); */
    width: 72px;
    height: 72px;
    background: none;
    border: none;
    /* font-size: 4.5em; */
    cursor: pointer;
    color: #fff;
}

/* .closeModal:before,
.closeModal:after { */
/* position: absolute; */
/* left: 15px; */
/* content: " "; */
/* height: 72px;
    width: 3px; */
/* background-color: var(--white); */
/* } */

/* .closeModal:before {
    transform: rotate(45deg);
}

.closeModal:after {
    transform: rotate(-45deg);
} */


.modal-header h2 {
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-weight: 400;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.form label {
    color: #312e2e;
    font-size: clamp(1rem, 3vw, 2.25rem);
    margin: 15px 0 8px 0;
}

.form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: clamp(1rem, 3vw, 2.25rem);
    padding: 10px;
}

form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
    font-size: clamp(1rem, 3vw, 2.25rem);
    padding: 10px;
}

form .contact_button:hover {
    background-color: #901c1cd3;
}

/* Section media */

.section-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 70px; */
    gap: 30px 95px;
    margin-top: 60px;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_link {
    width: 100%;
}

.card img {
    object-fit: cover;
    /* width: 350px; */
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.card video {
    object-fit: cover;
    /* width: 350px; */
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.card .card_description {
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 24px;
    gap: 10px;
    width: 100%;
}

.likeNbr {
    font-size: 24px;
    text-align: right;
    font-weight: 500;
}

.card_description .like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.card_description .like .heart {
    margin-left: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    .closeModal {
        width: 48px;
        height: 48px;
    }

    .photograph-header h2 {
        font-size: 48px;
    }

    .section-media {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {

    .closeModal {
        width: 36px;
        height: 36px;
    }

    form input {
        height: 48px;
    }

    .photograph-header {
        flex-direction: column;
        gap: 35px;
    }

    .photograph-header img {
        order: 1;
    }

    .photograph-header .description {
        order: 2;
    }

    .photograph-header h2 {
        font-size: 48px;
        text-align: center;
    }

    .photograph-header .location {
        font-size: 20px;
        text-align: center;
    }

    .photograph-header .tagline {
        font-size: 16px;
        text-align: center;
    }

    .photograph-header button {
        order: 3;
    }

    .section-media {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin-top: 60px;
    }

    /* #contact_modal {
        backdrop-filter: blur(5px);
    } */

    .modal {
        width: 90%;
        margin-top: 5vh;
    }

    #sorting {
        max-width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {

    .header {
        padding: 20px;
    }

    .photograph-header {
        padding: 35px 20px;
    }

    .photograph-header h2 {
        font-size: 36px;
    }

    .photograph-header img {
        height: 150px;
        width: 150px;
    }

    .photograph-header .location {
        font-size: 16px;
    }

    .photograph-header .tagline {
        font-size: 14px;
    }

    .contact_button {
        font-size: 16px;
        padding: 8px;
        width: 150px;
        height: 50px;
    }

    .section-media {
        gap: 30px;
        padding: 35px 20px;
    }

    .card img {
        height: 250px;
    }

    .card video {
        height: 250px;
    }

    .card_description {
        font-size: 18px;
    }

    .likeNbr {
        font-size: 18px;
    }

    .card_description .like .heart {
        font-size: 18px;
    }

    .modal {
        width: 100%;
        padding: 20px;
    }

    form input {
        height: 48px;
    }

    form textarea {
        height: 120px;
    }
}

@keyframes modalLaunch {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
    }
}