/* Photographer info header */

.photograph-header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 55px 50px;
    gap: 50px;
}

.photograph-header button {
    order: 2;
}

.photograph-header h2 {
    color: var(--secondary-color);
    font-size: 64px;
    margin: 0;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border: var(--white);
    border-radius: 50%;
    object-fit: cover;
    order: 3;
}

.photograph-header .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 1;
}

.photograph-header .location {
    color: var(--main-color);
    font-size: 24px;
    text-align: left;
}

.photograph-header .tagline {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.contact_button:active {
    background-color: var(--hover-color);
}

/* sorting */

#sorting {
    display: flex;
    max-width: 40%;
    align-items: center;
    margin: 20px 0;
    font-size: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.dropdown.active .submenu {
    display: block;
    cursor: pointer;
}

.dropbtn {
    background-color: #901c1c;
    list-style: none;
    border-radius: 5px;
    color: white;
    border: none;
    width: 170px;
    height: 69px;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}

.dropbtn img,
.dropdown img {
    position: absolute;
    right: 15%;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #901c1c;
    min-width: 170px;
    z-index: 1;
    list-style: none;
    top: 0;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.submenu .sorting {
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid white;
}

.submenu .last {
    border-bottom: none;
}

/* Contact form */

#contact_modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    overflow-y: scroll;
    background-color: rgba(196, 196, 196, 0.4);
    /* backdrop-filter: blur(2px); */
    backdrop-filter: blur(2px) contrast(60%);
    -webkit-backdrop-filter: blur(2px) contrast(60%);
}

.modal {
    margin: 5% auto;
    width: 50%;
    background-color: var(--hover-color);
    border-radius: 5px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    border: none;
    animation-name: modalLaunch;
    animation-duration: 0.8s;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeModal {
    width: 72px;
    height: 72px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.modal-header h2 {
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-weight: 400;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.form label {
    color: #312e2e;
    font-size: clamp(1rem, 3vw, 2.25rem);
    margin: 15px 0 8px 0;
}

.form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: clamp(1rem, 3vw, 2.25rem);
    padding: 10px;
}

form input {
    height: 68px;
}

form textarea {
    height: 170px;
}

form .contact_button:hover {
    background-color: #901c1cd3;
}

/* Section media */

.section-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 95px;
    margin-top: 60px;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#lightbox {
    animation-name: modalLaunch;
    animation-duration: 0.8s;
}

.lightbox_link {
    width: 100%;
}

.card img,
.card video {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.card .card_description {
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 24px;
    gap: 10px;
    width: 100%;
}

.likeNbr {
    font-size: 24px;
    text-align: right;
    font-weight: 500;
}

.card_description .like {
    display: flex;
    align-items: center;
    text-align: right;
}

.card_description .like .heart {
    margin-left: 5px;
    cursor: pointer;
}

/* price and likes */

.fees-fixed {
    position: fixed;
    left: 75%;
    right: 2%;
    bottom: 0;
    font-size: 1.5em;
    font-weight: 500;
    background: var(--hover-color);
    border-radius: 5px 5px 0 0;
}

.fees-fixed .inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 376px; */
    height: 70px;
}

.fees-fixed .inner .left {
    display: flex;
    align-items: center;
}

.icon-likes {
    margin-left: 5px;
    width: 21px;
    height: 24px;
}

@media screen and (max-width: 1024px) {

    .closeModal {
        width: 48px;
        height: 48px;
    }

    .photograph-header h2 {
        font-size: 48px;
    }

    .section-media {
        grid-template-columns: repeat(2, 1fr);
    }

    .fees-fixed {
        padding: 10px;
    }

    .left,
    .right {
        font-size: clamp(1rem, 2vw, 1.5rem);
    }

    .right {
        margin-left: 10px;
    }

    .icon-likes {
        width: 18px;
        height: 20px;
        position: relative;
        top: 1px;
    }

    .fees-fixed .inner {
        height: 30px;
    }
}

@media screen and (max-width: 800px) {

    .header {
        padding: 20px;
    }

    .closeModal {
        width: 36px;
        height: 36px;
    }

    form input {
        height: 48px;
    }

    .photograph-header {
        flex-direction: column;
        gap: 35px;
        padding: 35px 20px;
    }

    .photograph-header img {
        order: 1;
    }

    .photograph-header .description {
        order: 2;
    }

    .photograph-header h2 {
        font-size: 48px;
        text-align: center;
    }

    .photograph-header .location {
        font-size: 20px;
        text-align: center;
    }

    .photograph-header .tagline {
        font-size: 16px;
        text-align: center;
    }

    .photograph-header button {
        order: 3;
    }

    .section-media {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 20px 35px;
    }

    .modal {
        width: 80%;
        margin-top: 5vh;
    }

    #sorting {
        max-width: 100%;
        justify-content: center;
    }

    .contact_button {
        font-size: 16px;
        padding: 8px;
        width: 150px;
        height: 50px;
    }

    .fees-fixed {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    #contact_modal {
        padding: 10px;
    }

    .photograph-header h2 {
        font-size: 36px;
    }

    .photograph-header img {
        height: 150px;
        width: 150px;
    }

    .photograph-header .location {
        font-size: 16px;
    }

    .photograph-header .tagline {
        font-size: 14px;
    }

    .card img,
    .card video {
        height: 250px;
    }

    .card_description,
    .likeNbr,
    .card_description .like .heart {
        font-size: 18px;
    }

    .modal {
        width: 100%;
        padding: 20px;
    }

    form input {
        height: 48px;
    }

    form textarea {
        height: 120px;
    }
}

@keyframes modalLaunch {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
    }
}