@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --main-color: #901C1C;
    --secondary-color: #D3573C;
    --hover-color: #DB8876;
    --grey: #757575;
    --white: #fff;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding-right: 2vw;
    padding-left: 2vw;
    margin-bottom: 9.5vw;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: var(--main-color);
}

p {
    margin: 0;
}

.header {
    padding: 40px 100px;
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.photographers_list {
    display: none;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 5vw;
}

.photographer_section article a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.location {
    color: var(--main-color);
    font-size: 16px;
}

.tagline {
    font-size: 18px;
}

.tagline, .location, .fees {
    text-align: center;
}

.fees {
    color: var(--grey);
}

@media screen and (max-width: 1024px) {

    .logo {
        margin-left: 5vw;
    }

    .photographer_section {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

}

@media screen and (max-width: 768px) {

    .header {
        padding: 40px 50px;
    }

    h1 {
        font-size: 24px;
        margin-right: 0;
    }

    .header .container {
        flex-direction: column;
    }

    .logo {
        margin-left: 0;
        margin-top: 4vw;
    }

    .photographer_section {
        grid-template-columns: 1fr;
    }

}