/* Photographer info header */

.photograph-header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 55px 50px;
  gap: 50px;
}

.photograph-header__contact-button {
  order: 2;
}

.photograph-header__contact-button:hover {
  background-color: var(--hover-color);
}

.photograph-header__image {
  height: 200px;
  width: 200px;
  border: var(--white);
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
  object-fit: cover;
  order: 3;
}

.photograph-header__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 1;
}

.description__name {
  color: var(--secondary-color);
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.description__location {
  color: var(--main-color);
  font-size: 24px;
  text-align: left;
  font-weight: 400;
}

.description__tagline {
  margin-top: 20px;
  font-size: 18px;
  text-align: left;
  color: #525252;
}

/* Main */

.photograph__main {
  padding: 40px 100px;
  margin-bottom: 9.5vw;
}

/* sorting */

.sorting {
  display: flex;
  max-width: 40%;
  align-items: center;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
}

.sorting__label {
  font-size: 18px;
  font-weight: 700;
}

.sorting__dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.sorting__dropdown.active .dropdown__list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dropdown__button {
  color: white;
  padding: 20px 25px;
  border-bottom: 1px solid white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__icon {
  float: right;
}

.dropdown__list {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  min-width: 170px;
  z-index: 1;
  list-style: none;
  top: 0;
  border-radius: 5px;
  margin: 0;
  padding: 0;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--white);
  margin: 2px 25px;
  padding: 14px 0;
  border-bottom: 1px solid white;
  animation: rotateMenu 0.7s ease-in-out forwards;
  transform-origin: top center;
}

.dropdown__item:first-child {
  padding-top: 20px;
}

.dropdown__item:last-child {
  border-bottom: none;
}

/* Section media */

.media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 95px;
  margin-top: 60px;
  width: 100%;
}

.media__card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card_link {
  width: 100%;
}

.card__image,
.card__video {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.card__description {
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 24px;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.card__title {
  font-size: 24px;
  font-weight: 400;
}

.card__like {
  display: flex;
  align-items: center;
  text-align: right;
}

.like__number {
  font-size: 24px;
  text-align: right;
  font-weight: 500;
}

.like__icon {
  margin-left: 5px;
  cursor: pointer;
}

/* Lightbox */

.lightbox {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  padding: 2.4rem;
  overflow-y: scroll;
  background-color: rgb(255 255 255 / 90%);
  animation: fadeIn 0.5s, scaleIn 0.5s;
}

.lightbox__viewer {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  position: relative;
}

.lightbox__control {
  background-color: transparent;
  border: none;
  width: 96px;
  height: 96px;
}

.lightbox__control--icon {
  color: var(--main-color);
  font-size: 2em;
  cursor: pointer;
}

.lightbox__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.lightbox__media-container {
  width: 100%;
  padding: 0 10px;
  margin: 10px auto;
}

.lightbox__media {
  height: 78vh;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.lightbox__description {
  font-weight: 400;
  color: var(--main-color);
  font-size: 1.5em;
  margin-top: 12px;
}

/* Price and likes fixed */

.fees {
  position: fixed;
  left: 75%;
  right: 2%;
  bottom: 0;
  font-size: 1.5em;
  font-weight: 500;
  background: var(--hover-color);
  border-radius: 5px 5px 0 0;
}

.fees__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.fees__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.fees__total-likes {
  max-width: 80%;
}

.fees__icon-like {
  width: 21px;
  height: 24px;
}

.icon-likes {}

.fees__right {}

/* Contact form */

.contact-modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px;
  overflow-y: scroll;
  background-color: rgba(196, 196, 196, 0.4);
  backdrop-filter: blur(2px) contrast(60%);
  -webkit-backdrop-filter: blur(2px) contrast(60%);
}

.contact-modal__inner {
  margin: 5% auto;
  width: 50%;
  background-color: var(--hover-color);
  border-radius: 5px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  border: none;
  animation: fadeIn 0.5s, scaleIn 0.5s;
}

.modal {}

.contact-modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-modal__title {
  font-size: clamp(1.5rem, 4vw, 4rem);
  font-weight: 400;
}

.modal-title {}

.contact-modal__close {
  width: 72px;
  height: 72px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white);
}

.closeModal {}

.contact-modal__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.form__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.form__data {
  width: 100%;
  /* height: 14vh; */
}

.form__data[data-error-visible="true"]::after {
  opacity: 1;
}

.form__data[data-error]::after {
  content: attr(data-error);
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  color: var(--white);
  display: block;
  margin-top: 4px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 1.3;
  opacity: 0;
  transition: 0.3s;
}

.form__data[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .form__input {
  border: 20px solid red;
}

.form__label {
  color: #312e2e;
  font-size: clamp(1rem, 2.5vw, 2.25rem);
  display: inline-block;
  margin: 15px 0 8px 0;
}

.form__input,
.form__textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: clamp(1rem, 3vw, 2.25rem);
  padding: 10px;
  resize: none;
}

.form__input {
  height: 68px;
}

.form__textarea {
  height: 170px;
}

.error {
  border: 3px solid #ff4e60;
}

.button__error {
  cursor: disabled;
  background-color: var(--grey);
  color: var(--main-color);
}

.form__submit {
  margin-top: 26px;
}

.form__submit:hover {
  background-color: #901C1Cd3;
}

@media screen and (max-width: 1024px) {

  .closeModal {
    width: 48px;
    height: 48px;
  }

  .form__input {
    height: 60px;
  }

  .form__textarea {
    height: 140px;
  }

  .description__name {
    font-size: 48px;
  }

  .dropdown__button {
    font-size: 14px;
  }

  .dropdown__item:first-child {
    padding-top: 14px;
  }

  .dropdown__list {
    min-width: 150px;
    font-size: 14px;
  }

  .media {
    grid-template-columns: repeat(2, 1fr);
  }

  .fees {
    padding: 10px;
  }

  .fees__inner {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }

  .fees__right {
    margin-left: 10px;
  }

  .fees__icon-like {
    width: 18px;
    height: 20px;
  }

  .fees__inner {
    height: 30px;
  }

  .lightbox__media {
    height: 70vh;
  }

  .lightbox__close {
    top: -20px;
  }


}

@media screen and (max-width: 800px) {
  .header {
    padding: 20px;
  }

  .photograph__main {
    padding: 0 3vw;
  }

  .contact-modal__close {
    width: 36px;
    height: 36px;
  }

  .form__input {
    height: 48px;
  }

  .photograph-header {
    flex-direction: column;
    gap: 35px;
    padding: 35px 20px;
  }

  .photograph-header__image {
    order: 1;
  }

  .photograph-header__description {
    order: 2;
  }

  .description__name {
    font-size: 48px;
    text-align: center;
  }

  .description__location {
    font-size: 20px;
    text-align: center;
  }

  .description__tagline {
    font-size: 16px;
    text-align: center;
  }

  .photograph-header__contact-button {
    order: 3;
  }

  .media {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 20px 35px;
  }

  .contact-modal__inner {
    width: 80%;
    margin-top: 5vh;
  }

  .sorting {
    max-width: 100%;
    justify-content: center;
  }

  .form__submit {
    font-size: 16px;
    padding: 8px;
    width: 150px;
    height: 50px;
  }

  .fees {
    display: none;
  }
}

@media screen and (max-width: 480px) {

  .description__name {
    font-size: 36px;
  }

  .photograph-header__image {
    height: 200px;
    width: 200px;
  }

  .description__location {
    font-size: 16px;
  }

  .description__tagline {
    font-size: 14px;
  }

  .card__image,
  .card__video {
    height: 250px;
  }

  .card__description,
  .like__number,
  .like__icon {
    font-size: 18px;
  }

  .contact-modal {
    padding: 10px;
  }

  .contact-modal__inner {
    width: 100%;
    padding: 20px;
  }

  .form__input {
    height: 48px;
  }

  .form__textarea {
    height: 120px;
  }

  .form__submit {
    font-size: 14px;
    width: 120px;
    height: 40px;
  }

  .lightbox {
    padding: 0;
  }

  .lightbox__viewer {
    margin-top: 5vh;
  }

  .lightbox__control {
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
  }
}

/* Keyframes */

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg)
  }

  70% {
    transform: rotateX(20deg)
  }

  100% {
    transform: rotateX(0deg)
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}