@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --main-color: #901C1C;
    --secondary-color: #D3573C;
    --hover-color: #DB8876;
    --grey: #757575;
    --white: #fff;
    --background-color: #fafafa
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

button {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.header {
    padding: 40px 100px;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 50px;
}

.header__title {
    color: var(--main-color);
    font-size: 2em;
}

.main {
    padding-right: 2.25vw;
    padding-left: 2.25vw;
    margin-bottom: 9.5vw;
}

.photographers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 124px;
    margin-top: 4vw;
}

.photographer {
    text-align: center;
}

.photographer__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer__image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.photographer__name {
    color: var(--secondary-color);
    font-size: 2.25em;
    font-weight: 400;
    margin-top: 20px;
}

.photographer__location {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 400;
}

.photographer__tagline {
    font-size: 12px;
    margin: 5px 0;
}

.photographer__price {
    color: var(--grey);
    font-size: 11px;
}

@media screen and (max-width: 1024px) {

    button {
        font-size: 14px;
        padding: 10px;
        width: 150px;
        height: 50px;
    }

    .photographers {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

}

@media screen and (max-width: 768px) {

    .header {
        padding: 30px;
    }

    .header__title {
        font-size: 1.5em;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .photographers {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .photographer {
        background-color: var(--background-color);
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px;
        padding: 20px;
    }

}

@media screen and (max-width: 480px) {

    .header {
        padding: 20px;
    }

    .header__title {
        font-size: 1.2em;
    }

    .photographer__image {
        height: 150px;
        width: 150px;
    }

    .photographer__name {
        font-size: 1.5em;
    }

    .photographer__location,
    .photographer__tagline,
    .photographer__price {
        font-size: 14px;
    }

}